@import '../base/variables';

/*portada*/
.div-h1-index {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/salon-adentro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;





    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: $font-size-h1;
        font-family: $font-family-h1;
        color: $color-h1;

        @media screen and (max-width:576px) {
            font-size: 50px;
        }

        @media screen and (min-width: 577px) and (max-width :992px) {
            font-size: 70px;
        }
    }
}


/*seccion uno*/

section {
    div {
        .div-principal {
            padding: 40px;

            div {
                img {}

            }

            div {
                .p-index {
                    padding: 20px;
                    font-family: $font-family-general;
                    font-size: 25px;
                    color: black;

                    @media screen and (max-width:576px) {
                        font-size: 16px;
                        margin: 10px;
                        padding: 10px;
                    }

                    @media screen and (min-width: 577px) and (max-width :992px) {
                        font-size: 22px;
                        margin: 15px;
                        padding: 15px;
                    }


                }
            }
        }
    }
}


/*seccion dos*/

.seccion-dos {
    div {
        div {
            .como-llegar {
                font-family: $font-family-general;
                font-size: 40px;
                padding: 30px;
                color: white;
                justify-content: center;

                @media screen and (max-width:576px) {
                    font-size: 25px;
                    padding: 15px;
                }


                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 30px;
                    padding: 25px;
                }


            }
        }
    }

    div {
        .imagenes-como-llegar {
            padding: 20px;

            img {}
        }

        .mapa-nav {
            padding: 20px;

            iframe {}
        }
    }



}