@import '../base/variables';
@import '../base/extends';

/*--------------------quienes somos-------------------*/

/*portada*/
.div-h1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/frente-3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    @extend %flex;

    .portada {
        display: flex;
        justify-content: center;

        div {
            width: 95%;

            div {

                h1 {
                    font-size: $font-size-h1;
                    font-family: $font-family-h1;
                    color: $color-h1;
                    text-align: center;

                    @media screen and (max-width:576px) {
                        font-size: 50px;
                    }

                    @media screen and (min-width: 577px) and (max-width :992px) {
                        font-size: 70px;
                    }
                }
            }

            .div-whatsapp {

                .btn-wsp {

                    .whatsapp {
                        width: 50px;
                        height: 50px;
                        position: fixed;

                        @media screen and (max-width:576px) {
                            width: 40px;
                            height: 40px;

                        }
                    }
                }

                text-align: end;

            }
        }
    }


}

/*seccion uno*/

.seccion-1-quienesSomos {
    padding-top: 20px;
    padding: 20px;

    .div-quienesSomos {

        .titulo-texto {
            flex-direction: column;

            .titulo {
                font-family: $font-family-general;
                font-size: $font-size-h2;
                color: black;


                @media screen and (max-width:576px) {
                    font-size: 22px;
                    padding: 20px;
                    text-align: center;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 22px;
                    padding: 30px;
                }
            }

            .texto-quienesSomos {
                font-family: $font-family-general;
                font-size: 25px;
                color: black;
                padding: 20px;


                @media screen and (max-width:576px) {
                    font-size: 16px;
                    margin: 10px;
                    padding: 10px;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 18px;
                    margin: 15px;
                    padding: 15px;
                }
            }
        }

        .div-imagen-mesa {
            padding: 40px;

            img {
                -webkit-box-shadow: 17px 19px 7px -5px rgba(18, 16, 18, 0.4);
                -moz-box-shadow: 17px 19px 7px -5px rgba(18, 16, 18, 0.4);
                box-shadow: 17px 19px 7px -5px rgba(18, 16, 18, 0.4);
            }
        }
    }

}

/*sección dos*/

.seccion-2-quienesSomos {
    padding-top: 20px;
    padding-bottom: 20px;

    div {

        .sociales-corporativos {
            @extend %flex;
            flex-direction: column;

            h3 {
                font-family: $font-family-general;
                font-size: 30px;
                color: white;
                padding-top: 50px;
                padding-bottom: 30px;


                @media screen and (max-width:576px) {
                    font-size: 22px;
                    text-align: center;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 22px;
                }
            }

            p {
                font-family: $font-family-general;
                font-size: 20px;
                color: white;
                padding-top: 30px;

                @media screen and (max-width:576px) {
                    font-size: 16px;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 16px;
                }
            }
        }


    }

    div {

        .descripcion {
            @extend %flex;
            flex-direction: column;
            padding: 30px;
            color: white;
            font-family: $font-family-general;


            h4 {

                font-size: 25px;
                padding: 30px;

                @media screen and (max-width:576px) {
                    font-size: 20px;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 20px;
                }
            }

            p {
                font-size: 20px;

                @media screen and (max-width:576px) {
                    font-size: 16px;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 16px;
                }
            }
        }
    }
}