@import '../base/variables';
@import '../base/extends';
@import '../base/mapas';

/*--------------------servicios--------------------*/

/*portada*/
.div-h1-servicios {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/mesa1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @extend %flex;

    .portada {
        display: flex;
        justify-content: center;

        div {
            width: 95%;

            div {

                h1 {
                    font-size: $font-size-h1;
                    font-family: $font-family-h1;
                    color: $color-h1;
                    text-align: center;

                    @media screen and (max-width:576px) {
                        font-size: 50px;
                    }

                    @media screen and (min-width: 577px) and (max-width :992px) {
                        font-size: 70px;
                    }
                }
            }

            .div-whatsapp {

                .btn-wsp {

                    .whatsapp {
                        width: 50px;
                        height: 50px;
                        position: fixed;

                        @media screen and (max-width:576px) {
                            width: 40px;
                            height: 40px;

                        }
                    }
                }

                text-align: end;

            }
        }
    }

}

/*seccion*/

section {
    div {
        div {
            .servicios-h2 {
                padding: 20px;
                text-align: center;
                font-size: $font-size-h2;
                font-family: $font-family-general;
                color: black;

                @media screen and (max-width:576px) {
                    font-size: 22px;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    font-size: 25px;
                }

            }
        }

        .h3-parrafos {
            justify-content: center;

            @media screen and (max-width:576px) {
                display: flex;
                padding: 10px;
                font-size: 16px;
                margin: 10px;
            }

            @media screen and (min-width: 577px) and (max-width :992px) {
                display: flex;
                padding: 15px;
                font-size: 18px;
                margin: 12px;
            }

            .h3-p {
                margin: map-get($h3-parrafos, p-margin);
                padding: map-get($h3-parrafos, p-paddin);
                font-family: $font-family-general;
                color: map-get($h3-parrafos, p-color);
                flex-direction: map-get($h3-parrafos, p-direccion);
               
                h3 {
                    text-align: center;
                    font-family: $font-family-general;
                    font-size: 22px;

                    @media screen and (max-width:576px) {
                        font-size: 17px;
                    }

                    @media screen and (min-width: 577px) and (max-width :992px) {
                        font-size: 20px;
                    }

                    color: black;
                }
                
                p{
                    color: black;
                }
                
            }




        }



    }



}

/*seccion 2*/

.seccion-2-servicios {
    .dibujo {
        div {
            display: flex;
            justify-content: center;

            img {
                width: 100px;
                height: 100px;
                margin-bottom: 50px;

                @media screen and (max-width:576px) {
                    display: none;
                }

                @media screen and (min-width: 577px) and (max-width :992px) {
                    display: none;
                }

            }
        }


    }

    .textos-2 {
        div {
            display: flex;
            flex-direction: column;
            color: white;

            h3 {
                text-align: center;
                padding-top: 50px;

            }

            p {
                text-align: center;
                padding: 50px;
            }
        }
    }
}